.containerPagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.showTitle {
  margin-right: 1rem;
  font-size: 14px;
  color: #1e2028;
  display: flex;
  align-items: center;
}

.containerPageSize {
  display: flex;
  align-items: center;
  gap: 4px;
}
