.btnCommon {
  display: block;
  padding: 15px 12px;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  border: none;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.4s ease;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
