body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.form-control {
  outline: none;
  font-size: 14px;
  padding: 0 20px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 0;
  box-shadow: 0 0 transparent;
  transition: all 0.4s ease;
  box-shadow: 0 0 0 #000;
}

.ps-btn--fullwidth {
  background-color: #fcb800;
}
.ps-btn--reverse {
  background-color: #576391;
  width: 100%;
  text-align: center;
}

.ps-btn--reverse:hover {
  background-color: #222222;
}

.ps-btn--gray {
  background-color: #e5e5e5;
  color: #000000;
  font-size: 1.6rem;
  width: 100%;
  text-align: center;
}

.ps-btn--black {
  background-color: #000;
  width: 100%;
  text-align: center;
  color: #ffffff;
}

.ps-btn--black.ps-btn--outline {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

.ps-btn--black.ps-btn--outline:hover {
  background-color: #000;
  color: #ffffff;
}

.message-error {
  font-weight: 600;
  text-align: left;
  color: #f61a1a;
}

.ant-upload.ant-upload-select {
  width: 100% !important;
}

.ant-collapse-header {
  padding: 0px !important;
}
